{% load static %}
{% load static tailwind_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css %}
    {% include 'meta.html' %}
    {% include 'toast/toast_head.html' %}
    {% block header_scripts %}
    {% load crispy_forms_tags %}

    {% endblock %}
</head>
<body>


{% include 'header.html' %}

<main class="">
    {% block content %}

    {% endblock %}
</main>

{% block extra_js %}
{% endblock %}

{% include 'footer.html' %}
{% include 'toast/toast_body.html' %}
</body>
</html>
