<nav class="bg-[#9f7cad] p-4 shadow-md">
    <div class="container flex items-center justify-between mx-auto">
        <div class="text-xl font-bold text-white">
            <a href="{% url 'moonside' %}">MoonSide</a>
        </div>
        <div class="space-x-6 text-white">
            <a href="{% url 'moonside' %}" class="hover:text-[#f9e075]">Home</a>
            <a href="{% url 'moon_calendar' %}" class="hover:text-[#f9e075]">Calendar</a>
            <a href="{% url 'journal_entries' %}" class="hover:text-[#f9e075]">Journal Entries</a>
            <a href="{% url 'profile' username=user.username %}" class="hover:text-[#f9e075]">Profile</a>
            
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="hover:text-[#f9e075]">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="hover:text-[#f9e075]">Login</a>
                <a href="{% url 'signup' %}" class="hover:text-[#f9e075]">Sign Up</a>
            {% endif %}
        </div>
    </div>
</nav>

<!-- Breadcrumbs -->
<div class="container mx-auto mt-4">
    <nav class="flex text-sm text-[#6dc6cc]">
        <a href="{% url 'moonside' %}" class="hover:text-[#f9e075]">Home</a> 
        {% if request.path != '/' %}
            <span class="mx-2">/</span>
            <span class="text-[#409ba1]">
                {% block breadcrumbs %}{% endblock %}
            </span>
        {% endif %}
    </nav>
</div>

