{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block breadcrumbs %}
    Sign Up
{% endblock %}

{% block content %}
<div class="container p-6 mx-auto mt-6 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-bold text-[#9f7cad] uppercase mb-4">Sign Up</h2>
    
    <form method="post" class="space-y-4">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit"
                class="w-full text-white bg-pink-500 hover:bg-blue-400 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
            Sign Up
        </button>
    </form>
    
    <p class="mt-4 text-gray-700">
        Already have an account? <a href="{% url 'login' %}" class="text-violet-600 hover:underline">Login here</a>.
    </p>
</div>
{% endblock %}
