{% extends 'base.html' %}

{% block content %}
  <div
    class="">
    <h1 class="text-xl font-medium text-gray-900 dark:text-white">Delete {{object.moon_phase}}: {{ object.created_at }}</h1>
    <p>Are you sure you want to delete this entry?</p>
    <form method="POST">
      {% csrf_token %}
      <button type="submit"
              class="text-white bg-violet-600 hover:bg-rose-600 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
        DELETE
      </button>
    </form>
  </div>
{% endblock %}


