{% extends 'base.html' %}

{% block content %}
  <div
    class="">
    <div class="bg-purple-300"> Put accordion here </div>
    <form class="space-y-6" method="POST">
      {% csrf_token %}
      <h5 class="text-xl font-medium text-gray-900 dark:text-white">Update Journal Entry</h5>
      {{ form.as_p }}

      <button type="submit"
              "w-full text-white bg-pink-500 hover:bg-blue-400 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
        SAVE
      </button>
    </form>
  </div>
{% endblock %}
